Repository firoorg/firo, pull requests merged in 2019-06, with the labels that each got.

#434 Make error message more clear
  src/main.cpp
Labels: cosmetic

#422 Add special case to get asm of mint/spend
  src/core_write.cpp
  src/script/script.h
  src/test/data/script_tests.json
Labels: Sigma

#438 New denominations
  qa/rpc-tests/sigma_mint_validation.py
  src/qt/forms/sigmapage.ui
  src/qt/sigmapage.cpp
  src/sigma/coin.cpp
  src/sigma/coin.h
  src/test/sigma_manymintspend_test.cpp
  src/test/sigma_mintspend_numinputs.cpp
  src/test/sigma_mintspend_test.cpp
  src/test/sigma_partialspend_mempool_tests.cpp
  src/wallet/test/sigma_tests.cpp
  src/wallet/wallet.cpp
Labels: Sigma

#445 Fixing the wrong comparison
  src/rpc/misc.cpp
Labels: Sigma

#442 Detect late upgrade
  src/init.cpp
  src/txdb.cpp
  src/txdb.h
  src/zerocoin_params.h
Labels: Sigma

#443 Change default OP_RETURN standard script size
  src/script/standard.h
  src/test/transaction_tests.cpp
Labels: Sigma

#441 Fix mint size in checking standard tx
  src/script/standard.cpp
Labels: Sigma

#446 Revert protocol version to 90026
  src/version.h
Labels: Sigma

#449 Update rpc help message because of new denominations
  src/wallet/rpcwallet.cpp
Labels: Sigma

#444 Sigma start block adjusted
  src/zerocoin_params.h
Labels: Sigma

#452 Add regtests for sigma mint spend with 'watchonly' address
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/sigma_spend_gettransaction.py
Labels: Sigma

#451 Fix coingroup id test
  src/sigma/coin.cpp
  src/test/sigma_state_tests.cpp
Labels: Sigma

#456 Fix incorrect text in sigma spend confirmation dialog
  src/qt/sigmapage.cpp
Labels: Sigma

#458 Removing all sigma spends referencing the current block hash when the…
  src/zerocoin_v3.cpp
Labels: Sigma

#463 Fix functions GetHex and SetHex of Scalar
  src/secp256k1/include/Scalar.h
  src/secp256k1/src/cpp/Scalar.cpp
Labels: Sigma

#457 Add coin per group limit.
  src/test/sigma_state_tests.cpp
  src/zerocoin_params.h
  src/zerocoin_v3.cpp
  src/zerocoin_v3.h
Labels: Sigma

#392 Add BIP44 Key Generation with HD Mint path
  src/Makefile.am
  src/Makefile.test.include
  src/arith_uint256.cpp
  src/arith_uint256.h
  src/hash.h
  src/hdmint/hdmint.cpp
  src/hdmint/hdmint.h
  src/hdmint/mintpool.cpp
  src/hdmint/mintpool.h
  src/hdmint/tracker.cpp
  src/hdmint/tracker.h
  src/hdmint/wallet.cpp
  src/hdmint/wallet.h
  src/init.cpp
  src/init.h
  src/key.cpp
  src/key.h
  src/main.cpp
  src/main.h
  src/primitives/zerocoin.h
  src/qt/sigmapage.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/client.cpp
  src/secp256k1/include/Scalar.h
  src/secp256k1/src/cpp/Scalar.cpp
  src/sigma/coin.cpp
  src/sigma/coin.h
  src/test/hdmint_tests.cpp
  src/test/sigma_partialspend_mempool_tests.cpp
  src/test/test_bitcoin.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/uint256.cpp
  src/uint256.h
  src/util.cpp
  src/util.h
  src/utilstrencodings.h
  src/wallet/crypter.cpp
  src/wallet/crypter.h
  src/wallet/rpcwallet.cpp
  src/wallet/sigmaspendbuilder.cpp
  src/wallet/sigmaspendbuilder.h
  src/wallet/test/sigma_tests.cpp
  src/wallet/txbuilder.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/zerocoin_v3.cpp
  src/zerocoin_v3.h
Labels: Sigma

#460 Reject Sigma Double Mint
  src/zerocoin_v3.cpp
Labels: Sigma

#439 Add coin control for mints & spends
  src/Makefile.qt.include
  src/hdmint/tracker.cpp
  src/hdmint/wallet.cpp
  src/qt/forms/sigmacoincontroldialog.ui
  src/qt/forms/sigmadialog.ui
  src/qt/forms/sigmapage.ui
  src/qt/sigmacoincontroldialog.cpp
  src/qt/sigmacoincontroldialog.h
  src/qt/sigmadialog.cpp
  src/qt/sigmadialog.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletview.cpp
  src/qt/walletview.h
  src/test/sigma_mintspend_numinputs.cpp
  src/test/zerocoin_tests.cpp
  src/wallet/sigmaspendbuilder.cpp
  src/wallet/sigmaspendbuilder.h
  src/wallet/test/txbuilder_tests.cpp
  src/wallet/txbuilder.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zerocoin_v3.cpp
  src/zerocoin_v3.h
Labels: Sigma

#464 Fix hdmint test.
  src/test/hdmint_tests.cpp
Labels: Sigma

#450 Fix mark spendable any coin which have at least 6 confirmations.
  src/hdmint/tracker.cpp
  src/hdmint/tracker.h
  src/qt/sigmadialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Sigma

#391 Merge master into sigma
  README.md
  lgtm.yml
  qa/rpc-tests/zcoin_manymintspend.py
  qa/rpc-tests/zcoin_mintmanyspend.py
  qa/rpc-tests/zcoin_mintspend.py
  src/Makefile.test.include
  src/chainparams.cpp
  src/consensus/params.h
  src/miner.cpp
  src/test/sigma_transition_test.cpp
  src/test/spend_all_oldmints_test.cpp
  src/test/zerocoin_tests.cpp
  src/test/zerocoin_tests2.cpp
  src/test/zerocoin_tests3.cpp
  src/wallet/wallet.cpp
  src/zerocoin.cpp
  src/zerocoin_v3.h
Labels: Sigma

#459 New RPC tests for Sigma
  Jenkinsfile
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/sigma_blocklimit.py
  qa/rpc-tests/sigma_listsigmamints_validation.py
  qa/rpc-tests/sigma_listsigmapubcoins_validation.py
  qa/rpc-tests/sigma_listsigmaspends_validation.py
  qa/rpc-tests/sigma_listunspentmints_sigma_validation.py
  qa/rpc-tests/sigma_meetspend.py
  qa/rpc-tests/sigma_resetsigmamint_validation.py
  qa/rpc-tests/sigma_setsigmamintstatus_validation.py
  qa/rpc-tests/test_framework/test_framework.py
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
Labels: Sigma, testing

#465 New Splash Screen
  src/qt/res/images/splash.png
Labels: GUI, Sigma

#462 Preventing surges in sigma
  src/Makefile.am
  src/chain.h
  src/coin_containers.cpp
  src/coin_containers.h
  src/hash_functions.h
  src/miner.cpp
  src/serialize.h
  src/test/sigma_manymintspend_test.cpp
  src/test/sigma_mintspend_test.cpp
  src/test/sigma_partialspend_mempool_tests.cpp
  src/test/sigma_state_tests.cpp
  src/test/zerocoin_tests3_v3.cpp
  src/zerocoin_v3.cpp
  src/zerocoin_v3.h
Labels: Sigma

#461 Zerocoin to sigma remint backend and GUI
  src/Makefile.am
  src/Makefile.qt.include
  src/Makefile.test.include
  src/addresstype.h
  src/chainparams.cpp
  src/coins.cpp
  src/consensus/params.h
  src/main.cpp
  src/miner.cpp
  src/policy/policy.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/primitives/zerocoin.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/forms/zc2sigmapage.ui
  src/qt/transactiondesc.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
  src/qt/zc2sigmamodel.cpp
  src/qt/zc2sigmamodel.h
  src/qt/zc2sigmapage.cpp
  src/qt/zc2sigmapage.h
  src/rpc/misc.cpp
  src/script/script.cpp
  src/script/script.h
  src/secp256k1/Makefile.am
  src/sigma/remint-blacklist.cpp
  src/sigma/remint.cpp
  src/sigma/remint.h
  src/test/fixtures.h
  src/test/remint_tests.cpp
  src/test/sigma_transition_test.cpp
  src/test/zerocoin_tests.cpp
  src/test/zerocoin_tests2.cpp
  src/test/zerocoin_tests3.cpp
  src/txdb.cpp
  src/txmempool.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zerocoin.cpp
  src/zerocoin.h
  src/zerocoin_v3.cpp
Labels: Sigma

#471 Subtract fee from amount by default for Sigma spend
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
  src/qt/sigmadialog.cpp
  src/script/script.h
Labels: GUI, Sigma

#472 Fix show wrong denominations amount
  src/qt/walletmodel.cpp
Labels: GUI, Sigma

#473 Fix sigma spend confirm dialog box
  src/qt/sigmadialog.cpp
Labels: GUI, Sigma

#474 Remint improvements
  src/main.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/transactionrecord.cpp
  src/qt/walletview.cpp
  src/qt/zc2sigmamodel.cpp
  src/qt/zc2sigmamodel.h
  src/qt/zc2sigmapage.cpp
  src/qt/zc2sigmapage.h
  src/rpc/client.cpp
  src/test/remint_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/zerocoin.cpp
  src/zerocoin_v3.cpp
  src/zerocoin_v3.h
Labels: Sigma

#475 Fix coins balance updating issue on gui
  src/hdmint/tracker.cpp
  src/qt/walletmodel.cpp
  src/wallet/wallet.cpp
Labels: GUI, Sigma

#476 Sigma start date updated
  src/util.cpp
  src/zerocoin_params.h
Labels: Sigma

#477 Added updating remints on show
  src/qt/zc2sigmapage.cpp
Labels: Sigma

#478 Hide manual denomination button
  src/qt/sigmadialog.cpp
Labels: Sigma
