Repository firoorg/firo, pull requests merged in 2019-10, with the labels that each got.

#664 Exodus HD mint
  build-aux/m4/ax_boost_regex.m4
  configure.ac
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/exodus.cpp
  src/exodus/rpc.cpp
  src/exodus/rpctx.cpp
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/sigmaprimitives.cpp
  src/exodus/sigmaprimitives.h
  src/exodus/sigmawallet.cpp
  src/exodus/sigmawallet.h
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/sigmawallet_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/test/walletmodels_tests.cpp
  src/exodus/txprocessor.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletmodels.cpp
  src/exodus/walletmodels.h
  src/hdmint/tracker.cpp
  src/hdmint/wallet.cpp
  src/primitives/zerocoin.cpp
  src/uint256.cpp
  src/uint256.h
  src/wallet/wallet.h
  src/wallet/walletdb.h
Labels: exodus

#707 Adjust property creation fee
  qa/rpc-tests/test_framework/test_framework.py
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/base58.h
  src/exodus/createtx.cpp
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/packetencoder.cpp
  src/exodus/packetencoder.h
  src/exodus/property.cpp
  src/exodus/property.h
  src/exodus/rpctx.cpp
  src/exodus/rules.cpp
  src/exodus/rules.h
  src/exodus/script.cpp
  src/exodus/script.h
  src/exodus/sigmadb.cpp
  src/exodus/sp.cpp
  src/exodus/test/build_tx_tests.cpp
  src/exodus/test/encoding_b_tests.cpp
  src/exodus/test/encoding_c_tests.cpp
  src/exodus/test/exodus_handler_tx.cpp
  src/exodus/test/exodus_tests.cpp
  src/exodus/test/marker_tests.cpp
  src/exodus/test/obfuscation_tests.cpp
  src/exodus/test/packetencoder_tests.cpp
  src/exodus/test/parsing_b_tests.cpp
  src/exodus/test/parsing_c_tests.cpp
  src/exodus/test/script_extraction_tests.cpp
  src/exodus/test/sender_firstin_tests.cpp
  src/exodus/test/utils_tx.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/utils.cpp
  src/exodus/utils.h
Labels: exodus

#716 Store transaction ID for each mint
  src/exodus/rpc.cpp
  src/exodus/rpctx.cpp
  src/exodus/sigmawallet.cpp
  src/exodus/sigmawallet.h
  src/exodus/test/sigmawallet_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/test/walletmodels_tests.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletmodels.cpp
  src/exodus/walletmodels.h
  src/wallet/walletdb.h
Labels: exodus

#717 Add test for property creation fee
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/exodus_property_creation_fee.py
Labels: exodus

#715 Add mint regression tests on Exodus
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/exodus_sigma_reindex.py
  qa/rpc-tests/exodus_sigma_reorg.py
  qa/rpc-tests/test_framework/test_framework.py
  src/exodus/sigmawallet.cpp
  src/exodus/sigmawallet.h
  src/exodus/test/sigmawallet_tests.cpp
Labels: exodus

#714 Fixed the unspent index for remints of 50 XZC
  src/txdb.cpp
Labels: bug

#725 Adjust activation block for Sigma feature
  src/exodus/rules.cpp
Labels: exodus

#728 Record serial before update status
  src/exodus/txprocessor.cpp
Labels: exodus

#740 Adjust tokens creation fee
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  src/exodus/rules.cpp
Labels: exodus

#744 Double mint fix
  src/main.cpp
  src/sigma.cpp
  src/sigma.h
  src/test/remint_tests.cpp
  src/test/sigma_partialspend_mempool_tests.cpp
Labels: high priority

#741 Fix issue with Sigma mint creation
  qa/rpc-tests/exodus_sigma_reindex.py
  qa/rpc-tests/hdmint_mempool_zap.py
  qa/rpc-tests/sigma_remint_lockedwallet.py
  qa/rpc-tests/sigma_zapwalletmints.py
  qa/rpc-tests/sigma_zapwalletmints_unconf_trans.py
  src/hdmint/wallet.cpp
  src/hdmint/wallet.h
  src/test/hdmint_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: high priority
