Repository firoorg/firo, pull requests merged in 2019-08, with the labels that each got.

#545 Implement denomination creation for Exodus
  src/exodus/createpayload.cpp
  src/exodus/createpayload.h
  src/exodus/exodus.h
  src/exodus/rpctx.cpp
  src/exodus/rules.cpp
  src/exodus/sp.h
  src/exodus/test/create_payload_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/rpc/client.cpp
Labels: Exodus

#565 Remint mempool fix, reindex bug fix
  src/main.cpp
  src/sigma/remint.cpp
  src/sigma/remint.h
  src/test/remint_tests.cpp
Labels: bug

#566 Add RPC function to regenerate mint pool if incorrect indexes used
  src/hdmint/tracker.cpp
  src/hdmint/wallet.cpp
  src/hdmint/wallet.h
  src/main.cpp
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: bug

#538 Add mint db
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/convert.h
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/test/sigmadb_tests.cpp
  src/secp256k1/include/GroupElement.h
  src/secp256k1/include/Scalar.h
  src/secp256k1/src/cpp/GroupElement.cpp
  src/secp256k1/src/cpp/Scalar.cpp
  src/sigma/r1_proof.h
  src/sigma/sigmaplus_proof.h
Labels: Exodus

#564 Add exodus mint wallet
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/exodus/test/wallet_tests.cpp
  src/exodus/test/walletdb_tests.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletdb.cpp
  src/exodus/walletdb.h
  src/wallet/wallet.cpp
  src/wallet/walletdb.h
Labels: Exodus

#586 Add sigma infomation to exodus_getproperty
  src/exodus/rpc.cpp
  src/exodus/sp.cpp
  src/exodus/sp.h
Labels: Exodus

#568 Fixing wrong transaction size estimation
  src/qt/sigmacoincontroldialog.cpp
Labels: bug

#588 Update Lookup Property tab to show sigma information
  src/exodus/sp.h
  src/qt/forms/lookupspdialog.ui
  src/qt/lookupspdialog.cpp
  src/qt/lookupspdialog.h
Labels: Exodus

#590 Fix CMPSPInfo::Entry::update_block not updated when a new denomination is created
  src/exodus/tx.cpp
Labels: Exodus

#587 Implement payload creation and parser for tokens minting
  src/exodus/createpayload.cpp
  src/exodus/createpayload.h
  src/exodus/exodus.h
  src/exodus/test/create_payload_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
Labels: Exodus

#594 Fixed bug in sigma spend tx creation
  src/sigma.cpp
Labels: bug

#577 Adding more badges
  README.md
Labels: documentation

#600 Change version in "commits since last version" badge
  README.md
Labels: cosmetic

#596 Implement tokens minting
  src/Makefile.exodus.include
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/rpctx.cpp
  src/exodus/rules.cpp
  src/exodus/sp.h
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/wallet.h
  src/rpc/client.cpp
  src/rpc/register.h
Labels: exodus

#612 Fixed another znode-related deadlock
  src/znodeman.h
Labels: bug

#611 Change error code range for sigma
  src/exodus/tx.cpp
Labels: exodus

#615 Add transaction processor
  src/Makefile.exodus.include
  src/exodus/exodus.cpp
  src/exodus/property.h
  src/exodus/sigma.h
  src/exodus/sigmadb.h
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/txprocessor.cpp
  src/exodus/txprocessor.h
Labels: exodus

#610 Showing fee when spending to yourself
  src/qt/sigmacoincontroldialog.cpp
  src/qt/sigmadialog.cpp
  src/qt/transactionrecord.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/test/sigma_partialspend_mempool_tests.cpp
  src/wallet/sigmaspendbuilder.cpp
  src/wallet/test/sigma_tests.cpp
  src/wallet/test/txbuilder_tests.cpp
  src/wallet/txbuilder.cpp
  src/wallet/txbuilder.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: cosmetic

#628 Fix summation of mints overflow
  src/exodus/rpctx.cpp
  src/exodus/sp.h
  src/exodus/test/exodus_tests.cpp
  src/exodus/txprocessor.cpp
Labels: exodus

#632 Synchronize wallet with chain
  src/exodus/exodus.cpp
  src/exodus/rpctx.cpp
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletdb.cpp
  src/exodus/walletdb.h
Labels: exodus

#635 Rename EXODUS_TYPE_SIGMA_SIMPLE_MINT
  src/exodus/createpayload.cpp
  src/exodus/exodus.h
  src/exodus/rpctx.cpp
  src/exodus/rules.cpp
  src/exodus/test/rules_txs_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/txprocessor.cpp
  src/qt/sendmpdialog.cpp
Labels: exodus

#620 Implement tokens spending
  src/exodus/createpayload.cpp
  src/exodus/createpayload.h
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/rpctx.cpp
  src/exodus/rules.cpp
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/test/create_payload_tests.cpp
  src/exodus/test/sigma_tests.cpp
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/txprocessor.cpp
  src/exodus/txprocessor.h
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletdb.cpp
  src/exodus/walletdb.h
  src/init.cpp
  src/rpc/client.cpp
Labels: exodus

#653 Add RPC to list mints in the wallet and refactor some code
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/exodus.h
  src/exodus/rpc.cpp
  src/exodus/rpcrequirements.cpp
  src/exodus/rpcrequirements.h
  src/exodus/rpctx.cpp
  src/exodus/rpcvalues.cpp
  src/exodus/rpcvalues.h
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/sp.cpp
  src/exodus/sp.h
  src/exodus/test/sigma_tests.cpp
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/test/walletdb_tests.cpp
  src/exodus/test/walletmodels_tests.cpp
  src/exodus/tx.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletdb.cpp
  src/exodus/walletdb.h
  src/exodus/walletmodels.cpp
  src/exodus/walletmodels.h
  src/rpc/client.cpp
  src/secp256k1/include/Scalar.h
  src/test/uint256_tests.cpp
  src/uint256.h
Labels: exodus
