Repository firoorg/firo, pull requests merged in 2019-09, with the labels that each got.

#601 Dump wallet tests for Sigma and ZeroCoin
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_dumpsigma.py
  qa/rpc-tests/wallet_dumpzerocoin.py
  src/wallet/rpcdump.cpp
Labels: tests

#631 Prevent client to use denomination with confirmations less than N blocks
  src/Makefile.exodustest.include
  src/exodus/rpctx.cpp
  src/exodus/sp.cpp
  src/exodus/sp.h
  src/exodus/test/sp_tests.cpp
  src/rpc/client.cpp
Labels: exodus

#654 Remove cs_tally and cs_pending
  src/exodus/consensushash.cpp
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/fees.cpp
  src/exodus/fetchwallettx.cpp
  src/exodus/pending.cpp
  src/exodus/pending.h
  src/exodus/property.h
  src/exodus/rpc.cpp
  src/exodus/rpcrequirements.cpp
  src/exodus/rpctx.cpp
  src/exodus/rpctxobject.cpp
  src/exodus/sigma.cpp
  src/exodus/sp.cpp
  src/exodus/sp.h
  src/exodus/sto.cpp
  src/exodus/test/create_payload_tests.cpp
  src/exodus/tx.cpp
  src/exodus/txprocessor.cpp
  src/exodus/walletcache.cpp
  src/exodus/wallettxs.cpp
  src/qt/exoassetsdialog.cpp
  src/qt/lookupspdialog.cpp
  src/qt/metadexcanceldialog.cpp
  src/qt/metadexdialog.cpp
  src/qt/sendmpdialog.cpp
  src/qt/tradehistorydialog.cpp
  src/qt/txhistorydialog.cpp
Labels: exodus

#659 Do not show already spent mints in exodus_listmints
  src/exodus/rpc.cpp
Labels: exodus

#669 Fix exodus mint wallet stuck
  src/wallet/walletdb.h
Labels: exodus

#670 Add spend test with full group
  src/exodus/test/sigma_tests.cpp
Labels: exodus

#661 Fix segmentation fault when data is too large for class B
  src/Makefile.exodus.include
  src/exodus/createtx.cpp
  src/exodus/encoding.cpp
  src/exodus/encoding.h
  src/exodus/errors.h
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/rpc.cpp
  src/exodus/test/encoding_b_tests.cpp
  src/exodus/test/encoding_c_tests.cpp
  src/exodus/test/parsing_b_tests.cpp
  src/exodus/test/parsing_c_tests.cpp
  src/exodus/test/sender_firstin_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/pubkey.h
Labels: exodus

#677 Refactor sigma database and make it operations atomic
  src/exodus/exodus.cpp
  src/exodus/exodus.h
  src/exodus/sigma.cpp
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/txprocessor.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
Labels: exodus

#676 Prevent denomination creation if it not accepted by consensus
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/exodus_create_denomination.py
  qa/rpc-tests/test_framework/test_framework.py
  qa/rpc-tests/test_framework/util.py
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/COPYING
  src/exodus/property.cpp
  src/exodus/property.h
  src/exodus/rpcrequirements.cpp
  src/exodus/rpcrequirements.h
  src/exodus/rpctx.cpp
  src/exodus/sp.cpp
  src/exodus/sp.h
  src/exodus/test/property_tests.cpp
  src/exodus/txprocessor.cpp
Labels: exodus

#680 Fix error message when specify sigma status but sigma not enabled yet
  configure.ac
  qa/rpc-tests/exodus_issuance_fixed.py
  qa/rpc-tests/exodus_issuance_managed.py
  qa/rpc-tests/test_framework/test_framework.py
  src/exodus/rpcrequirements.cpp
Labels: exodus

#683 Fix dead lock when backup wallet and remove unused code
  src/key.cpp
  src/key.h
  src/wallet/rpcwallet.cpp
Labels: exodus

#678 Merge master to exodus
  Jenkinsfile
  README.md
  configure.ac
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/test_framework/test_helper.py
  qa/rpc-tests/wallet-dump.py
  qa/rpc-tests/wallet-hd.py
  qa/rpc-tests/wallet_dumpsigma.py
  qa/rpc-tests/wallet_dumpzerocoin.py
  qa/rpc-tests/walletbackup.py
  src/clientversion.h
  src/exodus/exodus.cpp
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/qt/sigmacoincontroldialog.cpp
  src/qt/sigmadialog.cpp
  src/qt/transactionrecord.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/rawtransaction.cpp
  src/sigma/coinspend.cpp
  src/sigma/coinspend.h
  src/sigma/sigmaplus_proof.h
  src/sigma/test/protocol_tests.cpp
  src/sigma/test/serialize_test.cpp
  src/test/fixtures.cpp
  src/test/sigma_partialspend_mempool_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/sigmaspendbuilder.cpp
  src/wallet/test/sigma_tests.cpp
  src/wallet/test/txbuilder_tests.cpp
  src/wallet/txbuilder.cpp
  src/wallet/txbuilder.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/znodeman.h
Labels: exodus

#691 Refactor sigma primitives
  src/Makefile.exodus.include
  src/Makefile.exodustest.include
  src/exodus/exodus.cpp
  src/exodus/rpc.cpp
  src/exodus/rpcrequirements.cpp
  src/exodus/rpcrequirements.h
  src/exodus/rpctx.cpp
  src/exodus/rpcvalues.cpp
  src/exodus/rpcvalues.h
  src/exodus/sigma.cpp
  src/exodus/sigma.h
  src/exodus/sigmadb.cpp
  src/exodus/sigmadb.h
  src/exodus/sigmaprimitives.cpp
  src/exodus/sigmaprimitives.h
  src/exodus/sp.cpp
  src/exodus/sp.h
  src/exodus/test/create_payload_tests.cpp
  src/exodus/test/sigma_tests.cpp
  src/exodus/test/sigmadb_tests.cpp
  src/exodus/test/sigmaprimitives_tests.cpp
  src/exodus/test/wallet_tests.cpp
  src/exodus/test/walletmodels_tests.cpp
  src/exodus/tx.cpp
  src/exodus/tx.h
  src/exodus/txprocessor.cpp
  src/exodus/txprocessor.h
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/exodus/walletmodels.cpp
  src/exodus/walletmodels.h
  src/secp256k1/include/GroupElement.h
  src/secp256k1/src/cpp/GroupElement.cpp
  src/wallet/walletexcept.cpp
  src/wallet/walletexcept.h
Labels: exodus

#556 Enabling ZSTD
  configure.ac
  src/Makefile.am
  src/Makefile.qt.include
  src/Makefile.test.include
Labels: enhancement

#704 Remove mint when sendmint fail
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/exodus_sendmint.py
  src/exodus/rpctx.cpp
  src/exodus/wallet.cpp
  src/exodus/wallet.h
  src/wallet/walletdb.h
Labels: exodus

#705 Fix error message when spend fail
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/exodus_sendspend.py
  src/exodus/errors.h
  src/exodus/exodus.cpp
  src/exodus/test/build_tx_tests.cpp
Labels: exodus
